body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@media screen and (min-width:768px)
{
    hr
    {
        display:none;
    }
}
.expwrap {
    width:100%;
  height:1.3em;
  margin-top:1em !important;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  box-shadow: -1px 0px 6px .2px #6e6d6d;
}
.expbar {
  background: #660000; /* Old browsers */
background: -moz-linear-gradient(top, #660000 0%, #663030 49%, #660a0a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #660000 0%,#663030 49%,#660a0a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #660000 0%,#663030 49%,#660a0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660000', endColorstr='#660a0a',GradientType=0 ); /* IE6-9 */
  height: 1.3em;
}