@{
    ViewBag.Title = "Level Grind";
}


<div class="row">
    <div class="col-md-7 well">
        <center><h2>The AR-RP-FT</h2></center>
        <blockquote class="blockquote-reverse">
            Level Grind is an augumented reality, role playing, fitness tracker. I know that's a lot to take in at once, but give it a shot compete with yourself and the world, or party up and use the bounty system to train and take down lifes biggest obsticles!
        </blockquote>
        @if (!Request.IsAuthenticated)
        {
            <center>@Html.ActionLink("Register To Train", "Register", "Account")</center>
        }
    </div>
</div>