@{
    ViewBag.Title = "Level Grind";
}


<div class="row">
    <div class="col-md-7 well">
        <center>
            <h2>Welcome to the once great Valhalla.</h2>
        </center>
                <img style='float:left;width:250px; margin-right:10px;' src="~/Content/dwarf2.png" /> 
        <blockquote class="blockquote">
            I’m not sure what else to say, but who would care if I spoke anyways… I’m just a drunk dwarf. Maybe we’ve met before, maybe I was wasted, and either way my name is Gregor. I come from a long lineage of drunk dwarfs and we have a history of sharing the history of Valhalla. So stay a while and listen, and if after you hear my story, you want to keep talking, I’ll see you at the pub. And when I’m not at the pub, I’m passed out in the bathroom at the pub, dreaming about drinking at the pub.<br /><br />
            Valhalla was once the greatest nation in the world. The Valhalla I grew up in was a melting pot of heroes. I had no notion of open borders or big walls, I only knew that it was cool every time I met a warrior with different skin than my own. Back then we prided ourselves on having the biggest dreamers, smartest soldiers, strongest warriors. If you came here and trained hard, you could do anything. That was known as Valhalla Dream.<br /><br />
            I’m not sure how, when, why, or who was invested in taking that dream away but it’s gone. In fact, they haven’t let another drunk dwarf through our gates in 50 moons.<br /><br />
            Our nation’s rapid descent into madness came about as a result of idolatry. People kept dreaming but stopped training. The strongest heroes became villains and started taxing people ridiculous amounts of their physical fitness gains. They taxed people so much that no matter how hard they worked they wouldn’t ever see any results within their lifetimes, and their children would be stuck with the same hero mass index and avatar metabolic rate as their fathers. So the strongest got stronger and everyone else suffered.<br /><br />
            Since we’ve never met before, or I was ridiculously wasted last we met, I’m going to let you in on a little secret. I’ve hidden a tax free gym within the walls of Valhalla because it’s my dream to restore this nation to its original glory. Now, don’t start thinking the gains are free, because like anything else in this world, you get out of it what you put into it. And it’s not the best gym, it’s got a lot of bugs… and there are some things that you’d pretty obviously like to do, such as be able to look in a mirror and see yourself, but you can’t. So give me some time and maybe buy me a beer and I’ll do my best to continue enhancing the gym while you continue enhancing yourself. Actually, if you buy me enough ale, there’s a strong possibility I’ll build another gym for saiyan refugees which measures power level based on training duration with an augmented reality selfie filter that gives you super saiyan hair.<br /><br />
            I’m not sorry for rambling, I’m a drunk dwarf, and I’ll see you at the @Html.ActionLink("Tavern", "Tavern", "Home").<br /><br />
        </blockquote>
        @if (!Request.IsAuthenticated)
        {
            <center>@Html.ActionLink("Register To Train", "Register", "Account")</center>
        }
    </div>
</div>