@model IEnumerable<test.Models.Quest>

@{
    ViewBag.Title = "Quests";
}

<h2>Quests</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-7 well well-lg">
            <p>@item.UserName requires your aid in @item.Date</p>
        </div>
    }
</div>
@Html.ActionLink("Create a quest", "CreateQuest")