@model IEnumerable<MvcLoginRegistration.Models.UserAccount>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th>
            bmr 4 women
        </th>
        <th>
            bmr 4 men
        </th>
        <th>THR</th>
    </tr>

    @foreach (var item in Model)
    {
                   int thr = 220 - item.Age;
            double bmrmen = 66 + (6.2 * item.Weight) + (12.7 * item.Height) - (6.76 * item.Age);
            double bmrwom = 655.1 + (4.35 * item.Weight) + (4.7 * item.Height) - (4.7 * item.Age);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
@bmrwom
                </td>
                <td>
@bmrmen
                </td>
                <td>

                    @thr
                </td>
            </tr>
            }

</table>
